<footer class="ftco-footer bg-bottom ftco-no-pt" style="background-color:#FF6501">
        <div class="container">
            <div class="row ">
                <!-- <div class="col-md pt-5">
                    <div class="ftco-footer-widget pt-md-5 mb-4">
                        <a href="https://jxboard.co.id/" target="_blank" aria-label="To jxboard.co.id"
                            title="To jxboard.co.id"> <img src="https://filminginjakarta.co.id/assets/images/logo/jxb-white.png"
                                alt="" style="margin-bottom:25px" class="jxb-logo"></a>
                        <p>Jakarta is opening its doors to filmmakers, advertisers, and creative content producers
                            seeking unique and versatile filming locations across the vibrant capital city</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                            <li class="ftco-animate"><a href="https://x.com/jxboard_id"><span
                                        class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.facebook.com/JakartaExperienceBoard"><span
                                        class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/jxboard/"><span
                                        class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div> -->
                <!-- <div class="col-md pt-5 border-left">
                    <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Partners</h2>
                        <ul class="list-unstyled">
                            <li><a href="https://filminginjakarta.co.id/filming-partners/equipment-tools-partners" class="py-2 d-block">Equipments</a></li>
                            <li><a href="https://filminginjakarta.co.id/filming-partners/accommodation-partners" class="py-2 d-block">Accomodation</a></li>
                            <li><a href="https://filminginjakarta.co.id/filming-partners/transportation-partners" class="py-2 d-block">Transportation</a></li>
                            <li><a href="https://filminginjakarta.co.id/filming-partners/catering-partners" class="py-2 d-block">Catering</a></li>
                            <li><a href="https://filminginjakarta.co.id/filming-partners/fixer-partners" class="py-2 d-block">Fixer</a></li>

                        </ul>
                    </div>
                </div> -->
                <!-- <div class="col-md pt-5 border-left">
                    <div class="ftco-footer-widget pt-md-5 mb-4">
                        <h2 class="ftco-heading-2">Assets</h2>
                        <ul class="list-unstyled">
                            <li><a href="https://filminginjakarta.co.id/filming-assets/search?category=sports-venue&search="
                                    class="py-2 d-block">Sports Venue</a></li>
                            <li><a href="https://filminginjakarta.co.id/filming-assets/search?category=amusement-park&search="
                                    class="py-2 d-block">Amusement Park</a></li>
                            <li><a href="https://filminginjakarta.co.id/filming-assets/search?category=public-space&search="
                                    class="py-2 d-block">Public Space</a></li>
                            <li><a href="https://filminginjakarta.co.id/filming-assets/search?category=beachisland&search="
                                    class="py-2 d-block">Beach/Island</a></li>
                            <li><a href="https://filminginjakarta.co.id/filming-assets/search?category=culture-art&search="
                                    class="py-2 d-block">Culture & Art</a></li>
                            <li><a href="https://filminginjakarta.co.id/filming-assets/search?category=marine-park&search="
                                    class="py-2 d-block">Marine Park</a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="col-md pt-5 border-left">
                    <div class="ftco-footer-widget pt-md-5 mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon fa fa-map-marker"></span>
                                    <span class="text">PT Jakarta
                                        Tourisindo <br />
                                        Arcici Plaza Building <br />
                                        Letjen Suprapto Street <br />
                                        Central Jakarta <br />
                                        DKI Jakarta</span></li>
                                <!-- <li><span class="icon fa fa-phone"></span><span class="text">+62 851
                                        1740 8392</span></li> -->
                                <li><span class="icon fa fa-paper-plane"></span>
                                    <span class="text">hello@filminginjakarta.com<br />filminginjakarta@jxboard.co.id</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-4 mb-5" style="color: white; border: 0.5px solid; width: 100%">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright 2026&copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> Jakarta Experience Board. All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>