<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="https://filminginjakarta.com" aria-label="To Home Page" title="To Home Page">
            <img class="logo-brand" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">            
                <li
                    class="nav-item border-item ">
                    <a href="about-us.html" class="nav-link">About Us</a>
                </li>
                <li
                    class="nav-item border-item    ">
                    <a href="location-category.html" class="nav-link">Location</a>
                </li>
                <li class="nav-item">
                    <a href="contact-us.html" class="nav-link ">
                        <span class="prime-link">Contact</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>